.root {
  position: absolute;
  left: 0;
  top: 0;
  width: 48px;
  height: 48px;
  align-items: flex-start;
  border-radius: 48px;
  background-color: #45b26b;
  overflow: hidden;
}
.austinWadeX6Uj51n5CE8Unsplash1 {
  position: absolute;
  left: 0;
  right: 0;
  top: -27.0833%;
  bottom: -22.8984%;
}
