.root {
  position: absolute;
  left: calc(50% - 8px);
  top: calc(50% - 8px);
  width: 24px;
  height: 24px;
  align-items: flex-start;
  transform: translate(-50%, -50%);
}
.notification2Line1 {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}
.icon {
  width: 100%;
  height: 100%;
}
